---
layout: default
section: programa
title: esLibre 2019 - Pablo Castro - Comunidades sobre privacidad y soberanía digital, ¿cómo lo petamos?
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(18:45 - 19:15)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/castro_pablo.jpeg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Pablo Castro: "Comunidades sobre privacidad y soberanía digital, ¿cómo lo petamos?"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  En esta pequeña unconference me gustaría aprovechar que nos juntaremos gente de varias comunidades relacionadas con la <a href="https://es.wikipedia.org/wiki/Soberan%C3%ADa_tecnol%C3%B3gica" target="_blank">soberanía digital</a> y la privacidad
  para charlar un poco sobre la situación de las mismas en nuestro país y en general en nuestro entorno. Mi objetivo es un poco ver qué se está haciendo para fortalecerlas, para atraer mas gente, para aprender unos de otros sobre lo que funciona y
  sobre los errores que todos hemos cometido e incluso ver cómo podemos reforzar la colaboración entre nuestros pequeños grupos.<br><br>
  Toda propuesta es bienvenida :)
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="http://pablo-castro.es/" target="_blank">Pablo Castro</a></strong>. <a href="https://www.arengu.com/" target="_blank">arengu</a> co-founder, frontend geek and internet freedom activist at <a href="https://www.gpul.org/"
    target="_blank">GPUL</a> & <a href="https://trackula.org/" target="_blank">Trackula</a>. Futsal player, sports lover and Free Software programmer.<br><br>
  <a href="https://github.com/castrinho8" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/castrinho18" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/pablocastrovalino/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
